.cart-threshold-exceeded-container {
    max-width: 66%;
    height: auto;
  }

  .cart-threshold-exceeded-message {
    background-color: #FFA500;
    display: block;
    padding-left: 1rem;
    padding-top: .2rem;
    color: #00008b;
  }